<div class="footerbg">
<div class="footercontainer">

<div id="footer"> 
  <div id="footerleft"><img src="/css/images/white_on_black_logo_sm.png" />
    <div class="footerlabel"><h2>Sections</h2></div>
    <div class="footer">
      <ul>
          <li><a href="@umbraco.library.NiceUrl(1058)" title="News">News</a></li>
          <li><a href="@umbraco.library.NiceUrl(1078)" title="Features">Features</a></li>
          <!-- <li><a href="/home" title="Home">People |</a></li> -->
          <li><a href="@umbraco.library.NiceUrl(1077)" title="Research">Research</a></li>
          <!-- <li><a href="/home" title="Home">Forum |</a></li> -->
          <!-- <li><a href="/home" title="Home">Jobs |</a></li> -->
          <!-- <li><a href="/home" title="Home">Events |</a></li> -->
          <li><a href="/vui" title="VUI Library">VUI Library</a></li>
      </ul>
    </div>
  </div>
  <div id="footermiddle">
    <div class="footerlabel"><h2>Connect</h2></div>
    <div class="footer">
      <ul>      
          <li><a href="/vui" title="Subscribe to the VUI Library">Subscribe to the VUI Library</a></li>
        <li><a href="http://www.twitter.com/vodprofessional" target="_blank" title="Twitter">Join us on Twitter</a></li>
          <li><a href="@umbraco.library.NiceUrl(1106)" title="Sign up for email alerts">Sign up for email alerts</a></li>
          <li><a href="@umbraco.library.NiceUrl(1186)" title="Send us some News">Send us some News</a></li>
        <li><a type="application/rss+xml" href="/rss/"  title="Subscribe to the RSS feed">Subscribe to the RSS feed</a>
      </ul>
    </div>
  </div>

  <div id="footerright">
    <div class="footerlabel"><h2>VOD Professional</h2></div>
    <div class="footer">
      <ul>
        <li><a href="@umbraco.library.NiceUrl(1178)" title="About VOD Professional">About VOD Professional</a></li>
        <!-- <li><a href="@umbraco.library.NiceUrl(1178)" title="Home">Contributors |</a></li> -->
        <!-- <li><a href="@umbraco.library.NiceUrl(1186)" title="Home">Advertise |</a></li> -->
        <li><a href="@umbraco.library.NiceUrl(1186)" title="Contact Us">Contact Us</a></li>
        <li><a href="@umbraco.library.NiceUrl(1179)" title="Terms and Conditions">Terms and Conditions</a></li>
        <li><a href="@umbraco.library.NiceUrl(1180)" title="Privacy Policy">Privacy Policy</a></li>
        <!-- <li><a href="@umbraco.library.NiceUrl(1186)" title="Home">Media |</a></li> -->
        </ul>
    </div>
  </div>   
  <div class="copyright">
    &copy; VOD Professional @DateTime.Now.ToString("yyyy")
  </div>
          
</div>
</div>  
        </div>